# Backend
APP_KEY=base64:REPLACE_WITH_php_artisan_key_generate_output

# Database
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=twitter_clon
DB_USERNAME=postgres
DB_PASSWORD=secret

# Frontend
VITE_API_URL=http://localhost:8000/api
